<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>invoice</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
		<script type="text/javascript" src="js/pngfix.js"></script>
		<script type="text/javascript" src="js/ie6.js"></script>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" />
	<![endif]-->
</head>

<body>
<!-- start wrap -->
<div id="wrap">
	<!-- start wrap_mid -->
	<div id="wrap_mid">
    	<div id="wrap_top">
        	<div id="wrap_bottom">
            	<!-- start box -->
            	<div id="box">
                	<!-- start header -->
                	<div id="header">
                		<!-- start logo -->
                		<div id="logo">
                    		<h1 id="infinanza"><span id="in">in</span>finanza</h1>
                    	</div>
                    	<!-- end logo -->
                    </div>
                    <!-- end header -->
                    <div id="container">
                    	<!-- start Bill From -->
                    	<div id="BillFrom">
                    		<h2>Your Company Name</h2>
                        	<span>Your Address Line 1</span>
                        	<span>Address Line 2</span>
                        	<span>Town</span>
                        	<span>Region/State</span>
                        	<span>Zip/Postal Code</span>
                        	<span class="number">Mobile Phone: +4530422244</span>
                        	<span class="black">Send To: <a href="#">client@company.com</a></span>
                        	<span>Payment due by 15/09/2011</span>
                    	</div>
                    	<!-- end Bill From -->
                    	<!-- start Bill To -->
                    	<div id="BillTo">
                   		 	<div class="row">
                    			<h2>Bill To:</h2>
                        		<span>Your Client Company Name Recipient Address Line 1 Address Line 2<br />Town<br />Region/State<br />Zip/Postal Code</span>
                        	</div>
                        	<div class="row"><strong>Invoice:</strong><span>00001</span></div>
                        	<div class="row"><strong>Date:</strong><span>02/09/2011</span></div>
                        	<div class="row"><strong>Amount:</strong><span>$00.00</span></div>
                    	</div>
                    	<!-- end Bill To -->
                    	<div class="clear"></div>
                    	<!-- start table -->
                    	<div class="table">
                    		<!-- start table_mid -->
                    		<div class="table_mid">
                        		<div class="table_top">
                            		<div class="table_bottom">
                                		<div class="t1 th">Product/Service</div>
                                    	<div class="t2 th">Description</div>
                                    	<div class="t3 th">Unit Price</div>
                                    	<div class="t4 th">Quantity</div>
                                    	<div class="t5 th">Discount</div>
                                    	<div class="t6 th">Amount</div>
                                    	<div class="even">
                                    		<div class="t1 td">Design</div>
                                        	<div class="t2 td">Corporate website design</div>
                                        	<div class="t3 td">$00.00</div>
                                        	<div class="t4 td">1</div>
                                        	<div class="t5 td">0.00</div>
                                        	<div class="t6 td">$00.00</div>
                                    	</div>
                                    	<div class="odd">
                                    		<div class="t1 td">Design</div>
                                        	<div class="t2 td">Corporate website design</div>
                                        	<div class="t3 td">$00.00</div>
                                        	<div class="t4 td">1</div>
                                        	<div class="t5 td">0.00</div>
                                        	<div class="t6 td">$00.00</div>
                                    	</div>
                                    	<div class="even">
                                    		<div class="t1 td">Design</div>
                                        	<div class="t2 td">Corporate website design</div>
                                        	<div class="t3 td">$00.00</div>
                                        	<div class="t4 td">1</div>
                                        	<div class="t5 td">0.00</div>
                                        	<div class="t6 td">$00.00</div>
                                    	</div>
                                    	<div class="odd">
                                    		<div class="t1 td">Design</div>
                                        	<div class="t2 td">Corporate website design</div>
                                        	<div class="t3 td">$00.00</div>
                                        	<div class="t4 td">1</div>
                                        	<div class="t5 td">0.00</div>
                                        	<div class="t6 td">$00.00</div>
                                    	</div>
                                    	<div class="even last">
                                    		<div class="t1 td">Design</div>
                                        	<div class="t2 td">Corporate website design</div>
                                        	<div class="t3 td">$00.00</div>
                                        	<div class="t4 td">1</div>
                                        	<div class="t5 td">0.00</div>
                                        	<div class="t6 td">$00.00</div>
                                    	</div>
                                	</div>
                            	</div>
                        	</div>
                        	<!-- end table_mid -->
                        	<div class="clear"></div>
                    	</div>
                    	<!-- end table -->
                        <!-- start description -->
                        <div class="description">
                        	<p>Here is the description about provided services and negotiated working conditions. Here is the description about provided services and negotiated working conditions. Here is the description about provided services and negotiated working conditions. Here is the description about provided services and negotiated working conditions. </p>
                        </div>
                        <!-- end deatil -->
                        <!-- start amount -->
                        <div id="total">
                        	<span>Amount Due</span>
                            <strong>$00.00</strong>
                        </div>
                        <!-- end amount -->
                        <div class="clear"></div>
                    </div>
                    <!-- end container -->
                    <div class="clear"></div>
                    <!-- start footer -->
                    <div id="footer">
                    	<!-- start footnote -->
                    	<div id="footnote">Thank you very much for choosing us. It was pleasure to work with you.</div>
                        <!-- end footnote -->
                        <!-- start credits -->
                        <!-- end credits -->
                        <div class="clear"></div>
                    </div>
                    <!-- end footer -->
                    <div class="clear"></div>
      			</div>
                <!-- end box -->
            </div>
        </div>
    </div>
    <!-- end wrap_mid -->
    <div class="clear"></div>
</div>
<!-- end wrap -->
</body>
</html>

<style>
* {outline:none;}
body{margin:0;padding:0;font-size:12px;height:100%;}
a:link, a:visited, a:hover, a:active{text-decoration:none;}
ul, ol{margin:0;padding:0;list-style-type:none;}
form{margin:0px;padding:0px;}
a img{border:0;}
.clearfix:after{content: ".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{min-width:0;display:inline-block;display:block;}
* html .clearfix{height:1%;}
.left{float:left;}
.right{float:right;}
.textleft{text-align:left;}
textarea{overflow:auto;}
.textright{text-align:right;}
p, h1, h2, h3, h4, h5, h6{margin:0;padding:0;}

/* COMMON TAGS ----------------------- */
.clear{clear:both;line-height:1px;height:1px;}
a{color:#515151;}

/* TYPOGRAPHY ---------------------- */
h1{font-size:2.4em;}
h2{font-size:2.2em;}
h3{font-size:2.0em;}
h4{font-size:1.8em;}
h5{font-size:1.6em;}
h6{font-size:1.4em;}
#infinanza{color:#3C3C3C;font-size: 28px;line-height: 1.0;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
#in{color: #93C3E6}

/* LAYOUT TAGS ----------------------- */

body{background:url(../images/bg_body.jpg) repeat center top;font-family:Arial, Helvetica, sans-serif;color:#515151;font-size:14px;}
#wrap{width:998px;margin:0 auto;padding:50px 0;}
#wrap_top{width:100%;float:left;}
#wrap_mid{background:url(../images/bg_wrap_bottom.png) no-repeat left bottom;width:100%;float:left;}
#wrap_bottom{background:url(../images/bg_wrap_mid.png) repeat-y center top;width:960px;margin:19px 0;padding:0 21px 0 17px;display:inline;float:left;}

#box{width:862px;margin:0 auto;}
#box h2{font-size:14px;}
/* header */

#logo{width:100%;padding:50px 0 24px 0;}

#BillFrom{width:50%;float:left;color:#9f9f9f;}
#BillFrom span{display:block;}
#BillFrom span.number{padding:18px 0 85px 0;}
#BillFrom span.black{color:#515151;font-weight:bold;padding:0 0 8px 0;display:block;}
#BillFrom span.black a{padding:0 0 0 10px;font-weight:normal;}
#BillTo{width:50%;float:left;}
#BillTo .row{width:100%;margin:0 0 14px 0;float:left;}
#BillTo h2, #BillTo strong{width:85px;padding:0 5px 0 160px;display:block;float:left;}
#BillTo span{width:178px;float:left;}

/* table */
.table{width:100%;margin:35px 0;}
.table_top{background:url(../images/bg_table_top.gif) no-repeat left top;border-bottom:1px solid #dadada;border-left:1px solid #dadada;border-right:1px solid #dadada;width:100%;float:left;}
.table_mid{background:url(../images/bg_table_mid.gif) repeat-y;width:100%;float:left;}
.table_bottom{background:url(../images/bg_table_bottom.gif) no-repeat left bottom;width:860px;padding:0 1px 2px 1px;float:left;}
.table .th{background: #F4F4F4;font-weight:bold;border-right:1px solid #dadada;border-top:1px solid #dadada;line-height:53px;padding:0 0 0 20px;float:left;}
.table .td{color:#9f9f9f;border-right:1px solid #dadada;line-height:51px;padding:0 0 0 20px;border-top:1px solid #dadada;float:left;}
.t1{width:142px;}
.t2{width:188px;}
.t3{width:102px;}
.t4{width:85px;}
.t5{width:105px;}
.t6{width:113px;}
.table .t6{ border-right:none;}
.even{background: #F8F8F8 repeat-x;width:100%;float:left;}
.odd{background: #FBFBFB repeat-x;width:100%;float:left;}
.table .last .td{border-bottom:none;}

.description{width:584px;float:left;}
.description p{color:#9f9f9f;}
#total{width:278px;text-align:right;float:left;}
#total span{font-weight:bold;padding:0 0 15px 0;display:block;}
#total strong{padding:0 12px 0 0;display:block;font-size:24px;}

/* footer */
#footer{width:100%;margin:40px 0 50px 0;}
#footnote{width:495px;padding:10px 0 0 0;float:left;}
.credits{width:365px;float:left;}
.credits img{margin:0 0 0 7px;}

</style>